* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* header______________________________________________________________________________________________________- */

.header {
  padding-top: 38px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.navigation {
  padding-bottom: 54px;
}

.logo {
  color: #555252;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  float: left;
}

.logo-letter {
  color: #1abc9c;
}

.navigation__list {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  padding-top: 6px;
  float: right;
}

.navigation__list-item {
  float: left;
}

.navigation__list-item:not(:last-child) {
  margin-right: 32px;
}

.navigation__list-link {
  color: #000000;
}
.navigation__list-link:hover {
  color: #20d6b2;
}

/* Slider_______________________________________________________________________- */

.slider {
  background-size: cover;
  position: relative;
}
.slider-btn {
  position: absolute;
  display: inline-block;
  border: none;
  width: 90px;
  height: 90px;
  background-color: #4ec6ab;
  opacity: 0.65;
}

.btn-left {
  margin-left: 150px;
  left: 0;
  transform: translateY(-90%);
}

.btn-rigth {
  margin-right: 150px;
  right: 0;
  transform: translateY(-90%);
}

.img-wrapper {
  position: relative;
  z-index: 1;
}

.img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.5);
  z-index: 2;
}

.slider-img {
  position: relative;
  z-index: 1;
  width: 100%;
}

.slider-wrapper {
  position: absolute;
  bottom: 320px;
  text-align: center;
  margin: auto;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.slider__title {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 82px;
}

.slider__description {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 250px;
}

.slider-letter:hover {
  color: #ff7200;
}
